.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM CSS */

a {
  text-decoration: none !important;
}

.navbar {
  background-color: #d5dee6;
  font-weight: bold;
}

.nav-item .nav-link {
  min-width: 150px;
  text-align: center;
}

.nav-item .nav-link:focus {
  color: #1f3a68;
}

button.btn-navigate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5dee6;
  border: 2px solid #cbd9e6;
  color: #545454;
  padding: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

button.btn-navigate:hover {
  background-color: #737373;
  border-color: #706e6e;
  cursor: pointer;
}

div.navigate_prj {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-switcher button {
  border: none;
  padding: 5px 10px;
  margin: 3px;
}

.language-switcher {
  border: 1px solid black;
  border-radius: 10px;
}

.language-switcher button:hover {
  background-color: rgb(140, 184, 197);
}

.language-switcher .btn-lang {
  background-color: rgb(140, 184, 197);
}

@media (max-width: 1200px) {
  img.img-prj {
    max-width: 400px !important;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100% !important;
  }

  img.img-prj {
    max-width: 300px !important;
  }
}
